# .env.ignore contains sensitive data
# all other .env files are fine, the contain only
# environment variables for localhost
.env.sensitive

# Go ignores
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*main

# Air ignores
tmp/
build-errors.log

# Node.js ignores
node_modules/
.svelte-kit/
package
.DS_Store
coverage/
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

test-results

# IDE specific files
.idea/
*.swp
*.swo
.DS_Store 

# build directories
*/build
*/dist

# keycloak executable
keycloak-mock/keycloak*