# Go ignores
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Air ignores
tmp/
build-errors.log

# Node.js ignores
node_modules/
.svelte-kit/
package
.DS_Store
coverage/
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

test-results

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store 