name: Backend Integration Tests

on: [push]

jobs:
  integration-test:
    name: Run Backend Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run integration tests
        working-directory: ./backend
        run: make test-integration
